.reverse-row-order {
  flex-direction: row-reverse;
}

.has-margin-top-sm {
  margin-top: 1em;
}

.has-margin-top-md {
  margin-top: 1.5em;
}

.has-margin-top-lg {
  margin-top: 2em;
}

.has-margin-bottom-sm {
  margin-bottom: 1em;
}

.has-margin-bottom-md {
  margin-bottom: 1.5em;
}

.has-margin-bottom-lg {
  margin-bottom: 2em;
}
