/**
*
* Navigation
*
*/

.box.is-dropdown {
  z-index  : 1000;
  min-width: 200px;
}

.nav-menu {
  .dropdown {
    .box.is-bottom-right {
      left: -20px;
    }

    .box.is-bottom-left {
      right: -20px;
    }
  }
}

/**
*
* Cards
*
*/

.card-footer-item {
  padding: 0 .75em;
}
