/**
*
* Navigation
*
*/

.box.is-dropdown {
  z-index  : 1000;
  min-width: 200px;
}

.nav-menu {
  .dropdown {
    .box.is-bottom-right {
      left: -20px;
    }

    .box.is-bottom-left {
      right: -20px;
    }
  }
}

/**
*
* Cards
*
*/

/*.card-footer-item {
  padding: 0 .75em;
}*/

/**
*
* Heroes
*
*/

.hero.is-large .hero-body {
  @media(min-width: 769px) {
    padding-bottom: 15rem;
    padding-top   : 15rem;
  }
}

/**
*
* WordPress
*
*/

img.alignright {
  float : right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float : left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display     : block;
  margin-left : auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display     : block;
  margin-left : auto;
  margin-right: auto;
}
