@import '~bulma/sass/utilities/initial-variables';

$orange               : #F28000;
$purple               : #993895;
$primary-color        : $purple;
// for Bulma stuff
$primary              : $purple;
$navigation-background: black;
$footer-background    : black;
$family-primary       : 'Open Sans', sans-serif;
$family-secondary     : 'Heebo', sans-serif;
