.box-custom {
  padding         : 1.25em;
  display         : inline-block;
  border-radius   : 5px;
  background-color: white;
  box-shadow      : 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
}
