a.has-arrow-icon {
  margin-left: calc(10px + 1.5rem);
  transition : margin-left .3s;
  font-weight: 600;
  padding    : .75em;
  display    : block;

  .icon {
    margin-left: 10px;
    transition : opacity .3s;
    opacity    : 0;
  }

  &:hover {
    color      : $primary-color;
    margin-left: 0;

    .icon {
      opacity: 1;
    }
  }
}
